@font-face {
  font-family: revicons;
  fallback: fallback;
  src: url(/_next/static/media/revicons.ff59b316.woff) format("woff"),
    url(/_next/static/media/revicons.b96bdb22.ttf) format("ttf"),
    url(/_next/static/media/revicons.652e7269.eot) format("ttf");
}
.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.react-multi-carousel-track {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform, transition;
}
.react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all 0.5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: rgba(0, 0, 0, 0.5);
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer;
}
.react-multiple-carousel__arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}
.react-multiple-carousel__arrow:before {
  font-size: 20px;
  color: #fff;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative;
}
.react-multiple-carousel__arrow:disabled {
  cursor: default;
  background: rgba(0, 0, 0, 0.5);
}
.react-multiple-carousel__arrow--left {
  left: calc(4% + 1px);
}
.react-multiple-carousel__arrow--left:before {
  content: "\e824";
}
.react-multiple-carousel__arrow--right {
  right: calc(4% + 1px);
}
.react-multiple-carousel__arrow--right:before {
  content: "\e825";
}
.react-multi-carousel-dot-list {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.react-multi-carousel-dot button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  box-shadow: none;
  transition: background 0.5s;
  border: 2px solid grey;
  padding: 0;
  margin: 0 6px 0 0;
  outline: 0;
  cursor: pointer;
}
.react-multi-carousel-dot button:hover:active,
.react-multi-carousel-dot--active button {
  background: #080808;
}
.react-multi-carousel-item {
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .react-multi-carousel-item {
    flex-shrink: 0 !important;
  }
  .react-multi-carousel-track {
    overflow: visible !important;
  }
}
[dir="rtl"].react-multi-carousel-list {
  direction: rtl;
}
.rtl.react-multiple-carousel__arrow--right {
  right: auto;
  left: calc(4% + 1px);
}
.rtl.react-multiple-carousel__arrow--right:before {
  content: "\e824";
}
.rtl.react-multiple-carousel__arrow--left {
  left: auto;
  right: calc(4% + 1px);
}
.rtl.react-multiple-carousel__arrow--left:before {
  content: "\e825";
}
.rc-drawer {
  position: fixed;
  z-index: 1050;
  pointer-events: none;
  inset: 0;
}
.rc-drawer-inline {
  position: absolute;
}
.rc-drawer-mask {
  position: absolute;
  z-index: 1050;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  inset: 0;
}
.rc-drawer-content-wrapper {
  position: absolute;
  z-index: 1050;
  overflow: hidden;
  transition: transform 0.3s;
}
.rc-drawer-content-wrapper-hidden {
  display: none;
}
.rc-drawer-left .rc-drawer-content-wrapper {
  top: 0;
  bottom: 0;
  left: 0;
}
.rc-drawer-right .rc-drawer-content-wrapper {
  top: 0;
  right: 0;
  bottom: 0;
}
.rc-drawer-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #fff;
  pointer-events: auto;
}
@font-face {
  font-family: Geometria;
  src: url(/_next/static/media/Geometria.b40aae72.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
* {
  box-sizing: border-box;
}
@keyframes spinners-react-infinity {
  0% {
    stroke-dasharray: 1, 347;
    stroke-dashoffset: 75;
  }
  25%,
  75% {
    stroke-dasharray: 17, 330;
  }
  50% {
    stroke-dasharray: 1, 347;
  }
  to {
    stroke-dasharray: 1, 347;
    stroke-dashoffset: 423;
  }
}
@media screen and (max-width: 768px) {
  .ReactModal__Content {
    width: 100vw !important;
  }
}
@media screen and (max-width: 600px) {
  .simple-confetti-container {
    display: none;
  }
}
.React__donation_modal:before {
  position: absolute;
  transition: all 0.8s ease;
  display: inline-block;
  width: 100%;
  height: 50%;
  content: "";
  z-index: -1;
  left: -3px;
  top: -3px;
  filter: blur(6px);
  border-radius: 40px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: radial-gradient(
      19.49% 58.52% at 50% 0,
      rgba(249, 196, 60, 0.3) 0,
      rgba(231, 166, 1, 0) 100%
    ),
    radial-gradient(
      50% 50% at 100% 100%,
      #520aeb 10.27%,
      rgba(159, 115, 255, 0) 100%
    ),
    radial-gradient(
      77.86% 77.86% at 100% 0,
      #00a7ff 0,
      rgba(0, 166, 254, 0.12) 100%
    ),
    radial-gradient(50% 50% at 0 0, #ff8d6c 0, rgba(255, 92, 0, 0.6) 100%),
    radial-gradient(70.24% 70.24% at 0 100%, #e81d72 0, rgba(255, 0, 0, 0) 100%);
  background-blend-mode: overlay, normal, normal, color-dodge, normal;
  mix-blend-mode: normal;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
